.container{
    width: 100%;
    margin:0;
    background-color: #ffffff;
}

.container-fluid{
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    margin-left: 0;
}
.nav-link{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    color: #000000;
}

.bloque1{
    background-image: url(../img/Rectangle\ 15.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactus{
    background-color: #45AFF4;
    color: #354248;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    width: 15%;
    height: 8%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 0;
}
.contactus a{
    text-decoration: none;
    color: #354248;
}
.banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: -2%;

}
.rec3{
    width: 35%;
}
.aboutus{
    background-image: url(../img/Group\ 16.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 5%;
    
    
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px !important;
    font-weight: 800;
    color: white;
    margin-top: 5%;
    padding-top: 10%;
    margin-left: 4%;

}
.aboutus p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 3%;
    margin-right: 23.5%;
    color: #ffffff;
    margin-left: 4%;
}
.btn2{
    align-self: flex-end;
    background-color: #354248;
    color: #ffffff;
    border-radius: 50px;
    border-color: #354248;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 1.5% 1% 1.5% 1%;
    width: 25%;
    text-align: center;
    margin-right: 23.5%;
    margin-bottom: 5%;
    border-style: none;
}
.btn2 a{
    text-decoration: none;
    color: #ffffff;
}
.fondo{
    background-image: url(../img/Group\ 15.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-2%;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}
.servicios{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.iconos{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        height: 200px;
        padding: 7% 3% 7% 3%;
        margin:1% 0% 1% 0%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px  rgb(218, 218, 218); 
        min-height: 30%;
        display: -webkit-flex;
        background-color: white;
}
.img1{
    width: 75px;
    height: 75px;
}
.inside{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.title2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight:800;
    padding: 9% 3% 4% 3%;
    margin-bottom: 0;
    text-align: center;
} 

#contactos{
    background-image: url('../img/Group\ 19.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    width: 100%;
    height: 40vh;
    padding-left: 2%;

}
p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-left: 5%;
    line-height: 12px;
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 5%;
    line-height: normal;

}
.supriweb{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 40%;
}
.logo{
    position: relative;
    margin-top:-11%;

}
.text2{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 24px;
    text-align: left;
    line-height: normal;
}
.title3{
    margin-left: 5%;
}